In [36]:

# pairs = []
# numbers = []
# for _ in range(int(input())):
#     name = input()
#     score = float(input())
#     pair =[name, score]
#     pairs.append(pair)
    
#     for pair in pairs:
#         numbers.append(pair[1])

pairs = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [37]:
numbers = []
names = []
for pair in pairs:
    names.append(pair[0])
    numbers.append(pair[1])

In [38]:
names

['Harry', 'Berry', 'Tina', 'Akriti', 'Harsh']

In [39]:
numbers

[37.21, 37.21, 37.2, 41, 39]

In [40]:
min(numbers)

37.2

In [41]:
numbers.remove((min(numbers))) 
numbers

[37.21, 37.21, 41, 39]

In [44]:
secondLowest = min(numbers)
secondLowest

37.21

In [45]:
second_lowest_names = [pair[0] for pair in pairs if pair[1] == secondLowest]
second_lowest_names

['Harry', 'Berry']

In [46]:

second_lowest_names.sort()
second_lowest_names

['Berry', 'Harry']

In [47]:
for name in second_lowest_names:
    print(name)

Berry
Harry